* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px black;
}

section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.trHeight{
  height: 113px;
}

.alignTop{
  vertical-align: top;
}

.alignBottom{
  vertical-align: bottom;
}

.left-half {
  background-color: DodgerBlue;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: FireBrick;
  position: absolute;
  right: 0px;
  width: 50%;
}

.tallSelect{
  height: 227px;
  width: 115px;
  border-radius: 8px;
  overflow: hidden;
}

.tallTable{
  display:inline-block;
  height: 227px;
}
